<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- fontawsome -->
    <script defer src="https://use.fontawesome.com/releases/v6.4.0/js/all.js"></script>


    <!-- tailwind css -->
    <script src="https://unpkg.com/@tailwindcss/browser@4"></script>

    <!-- JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
        crossorigin="anonymous"></script>

    <!-- 구글폰트 -->
    <link href="https://fonts.googleapis.com/css?family=Stylish&display=swap" rel="stylesheet">



    <title>커피챌 | 챌린지 세부사항| {challenge.name}</title>
    <script>
        function main(){//메인 페이지로 이동
            
             window.location.href="/"
        }
    </script>
</head>

<body>
    <div class="flex flex-col py-7 px-6 h-screen">
        <!-- 챌린지 헤드라인 -->
        <div class="mb-12 text-xl font-semibold">
            <button class="mr-3" type="button" onclick="main()">
                <span>
                    <i class="fa-solid fa-chevron-left" a="index.html"></i>
                </span>
            </button>
            {{challenge.name}}
        </div>

        <!-- 챌린지 정보 -->
        <div class="px-3 flex flex-col gap-2">
            <!-- 기간 -->
            <div class="flex flex-row justify-between">
                <p>기간</p>
                <p><span>{{challenge.start_date}}</span> ~ {{challenge.end_date}}</p>
            </div>

            <!-- 작성자 -->
            <div class="flex flex-row justify-between">
                <p>주최자</p>
                <p>{{challenge.host_user_id}}</p>
            </div>

            <!-- 세부내용 -->
            <div class="flex flex-row w-full justify-between items-center">
                <p>챌린지 세부내용</p>
                <p class="text-xs text-gray-500"><i class="fas fa-coffee"></i> 해당 챌린지는 커피내기 챌린지 입니다.</p>
            </div>
            <textarea class="h-33 px-3 py-3 overflow-y-auto border-1 border-gray-500 rounded-md">
                {{challenge.details}}
            </textarea>

            <!-- 참가자 리스트 -->
            <div class="flex flex-row w-full justify-start">
                <p>참여자 {{challenge.participants | length}}명</p>
            </div>
            <div class="flex flex-col h-40 overflow-y-auto px-3 py-3 text-left border-1 border-gray-500 rounded-md">
                <table class="table-auto">
                    <thead>
                        <tr>
                            <th>이름</th>
                            <th>인증 횟수</th>
                            <th>순위</th>
                        </tr>
                    </thead>
                    <tbody>
                        {%for participants in challenge%}
                        <tr>
                            <td>{{challenge.participants.name}}</td>
                            <td>{{challenge.participants.count}}</td>
                            <td>{{challenge.participants.rank}}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>

            <!-- 인증방법 설명 -->
            <div>
                <h3>인증방법</h3>
                <div class="flex flex-col h-20 overflow-y-auto px-3 py-3 text-left border-1 border-gray-500 rounded-md">
                    {{challenge.verification_method}}
                </div>
            </div>

        </div>
    </div>
    <!-- 참여하기 또는 인증/포기하기 버튼 -->
    <!-- 추후 로그인 유무에 따라 function으로 삭제 또는 나타나게 구현 -->
    <!-- <div class="fixed bottom-5 w-full flex flex-col items-center">
        <button class="bg-green-400 rounded-[10px] w-52 h-13 text-lg">참여하기</button>
    </div> -->
    <div class="fixed bottom-5 w-full flex flex-row gap-3 items-center justify-center">
        <button class="bg-green-400 rounded-[10px] w-[33%] h-13 text-lg">인증하기</button>
        <button class="bg-gray-800 text-white rounded-[10px] w-[33%] h-13 text-lg">포기하기</button>
    </div>
    
    <!-- <script>
        function attend() {

        }
    </script> -->
</body>

</html>