<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">

    <!-- JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
        crossorigin="anonymous"></script>

    <!-- 폰트어썸 -->
    <script defer src="https://use.fontawesome.com/releases/v6.4.0/js/all.js"></script>

    <!-- 구글폰트 -->
    <link href="https://fonts.googleapis.com/css?family=Stylish&display=swap" rel="stylesheet">
    <title>챌린지 목록</title>
    <script>
        function generate_chal() {//챌린지 생성 페이지로 이동

            window.location.href = "/generate"
        }

        function main() {//메인 페이지로 이동
            window.location.href = "/"
        }
    </script>

</head>

<body>
    <div>
        <div class="d-flex flex-column py-3 px-4 vh-100">
            <!--페이지 제목-->
            <div class="fs-5 mb-4 fw-semibold">
                <button class="bg-transparent border-0 p-0" type="button" onclick="main()">
                    <span>
                        <i class="fa-solid fa-chevron-left text-dark fa-lg"></i> <!-- 왼쪽 화살표 아이콘 -->
                    </span>
                </button>
                챌린지 목록
            </div>
            <!-- 챌린지 목록 카드 -->
            <div class="row gx-2 gy-3">
                <!-- jinja 반복문 활용, 각 챌린지 데이터 렌더 -->
                {% for challenge in challenges %}
                <div class="col-6 col-md-6" onclick="gotodetail('{{challenge._id}}')">
                    <div class="border p-3 rounded" style="background-color: #4ade80; height: 120px;">
                        <!-- 제목과 인원 -->
                        <div class="d-grid">
                            <h2 class="fs-6 fw-bold">{{ challenge.name }}</h2>
                            <p class="text-white">{{ challenge.participants | length }}명 참여 중</p>
                        </div>
                        <!-- 사용자 프로필 사진 -->
                        <!-- jinja 구문으로 반복해서 사용자들의 사진을 불러오도록-->
                        <!-- 제한사항 : 모든 사진을 불러오게되어 수평스크롤 하게됨, -->
                        <!-- 불러올 사진 수를 제한하거나 조치 -->
                        <!-- 아직 DB에 사용자별 사진 없음. -->
                        {%for participants in challenge%}
                        <!-- <div class="d-flex justify-content-center align-items-center gap-3">
                            <img id="profilePreview" src="" class="rounded-circle bg-light border" width="30"
                                height="30" alt="사용자 프로필">
                            <img id="profilePreview" src="" class="rounded-circle bg-light border" width="30"
                                height="30" alt="사용자 프로필">
                            <img id="profilePreview" src="" class="rounded-circle bg-light border" width="30"
                                height="30" alt="사용자 프로필">
                        </div> -->
                        {% endfor %}
                    </div>
                </div>
                <!-- 챌린지 렌더 반문 종료 -->
                {% endfor %}


                <!-- 더보기 버튼 -->
                <button type="button" class="position-fixed bg-light text-dark rounded-circle shadow"
                    style="width: 50px; height: 50px; bottom: 20px; right: 20px; display: flex; justify-content: center; align-items: center; cursor: pointer; border: none;"
                    onclick="gotoGenerateChal()">
                    <i class="fas fa-plus fa-lg"></i>
                </button>

            </div>
        </div>
        <script>
            function gotodetail(id) {
                window.location.href = `/challenge/${id}`
            }

            function gotoGenerateChal() {

            }
        </script>
</body>

</html>