<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- tailwind css -->
    <script src="https://unpkg.com/@tailwindcss/browser@4"></script>

    <!-- JS -->
    <script
      src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
      integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
      integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
      crossorigin="anonymous"
    ></script>

    <!-- 폰트어썸 -->
    <script
      defer
      src="https://use.fontawesome.com/releases/v6.4.0/js/all.js"
    ></script>

    <!-- 구글폰트 -->
    <link
      href="https://fonts.googleapis.com/css?family=Stylish&display=swap"
      rel="stylesheet"
    />
    <title>커피챌 | 로그인</title>
  </head>
  <body>
    <div>
      <div class="flex flex-col py-9 px-12 h-screen">
        <!-- 가이드 문구 -->
        <div class="text-2xl mt-18 mb-50 font-semibold">
          어서오세요!<br />당신의 챌린지를 응원합니다.
        </div>

        <!-- 이메일, 비밀번호 입력 -->
        <div class="flex flex-col gap-8">
          <div class="flex flex-row w-full justify-between items-center">
            <p>이메일</p>
            <input type="email" class="border-b" />
          </div>
          <div class="flex flex-row w-full justify-between items-center">
            <p>비밀번호</p>
            <input type="password" class="border-b" />
          </div>
        </div>

        <!-- 로그인 버튼 -->
      </div>
      <div class="fixed bottom-20 w-full flex flex-col items-center">
        <button class="bg-green-400 w-[80%] rounded-[10px] h-14 text-lg">
          로그인
        </button>
        <!-- 회원가입 버튼 -->
        <button class="w-fit text-sm border-b pt-4">회원가입 하러가기</button>
      </div>
    </div>
  </body>
</html>
